
.shadow{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #00000093;
	z-index: 3;

}
.Modal{
	 /* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);  */
	border-radius: 8px;
	background: var(--White, #FFF);
	max-width:  343px;
	flex-shrink: 0;
	padding: 16px ;
	z-index: 5;
}
.Modal p{
	font-size: 0.9rem;
}
.Modal-title{
	font-size: 20px;
	margin: 0;
}
.btn-modal{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-cancel{
	background-color: #67727E;
}
.btn-delete{
	background-color: #ED6368;
	
}


